.App{
    
}
input{
   
    margin: 5px;
    font-size: 20px;
    outline: none;
    border-style: none;
    border-bottom: 2px solid rgb(141, 11, 167);;
}
label{
    font-size: 22px;
}
button{
    font-size: 24px;
    margin-top: 20px;
    background-color: rgb(141, 11, 167);
    border-style: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
button:hover{
    background-color: rgb(204, 27, 239);
}
#head{
    background-color: crimson;
    color: white;
  font-size: 30px !important;
   
    
}
